<h1>Listing Ideas</h1>
<p>Welcome to my idea app! Here I'll be testing application ideas as I journey through learning Ruby and Rails. I'll be tracking my progress by applying new badges each time a new piece of functionality is successfully added.</p>
<% @ideas.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |idea| %>
      <div class="col-md-4">
        <td><%= image_tag idea.picture_url(:thumb) if idea.picture? %></td>
        <div id="returnvalue">
          <h4><%= link_to idea.name, idea %></h4>
          <p>
          <%= idea.description %>
          </p>
       </div>
      </div>
    <% end %>
  </div>
<% end %>
